.app-card {
  width: 300px; display: block;
  height: auto; min-height: 70px;
  margin: 30px auto; padding: 10px;
  
  background: var(--colour-fg);
  border-radius: var(--value-border-radius);
}
.app-card.interactable:hover {
  transform: translateY(-2px);
  border-bottom: 2px solid var(--colour-text) !important;
}
.app-card.interactable:active {
  transform: none;
  border-bottom: none !important;
}

.app-user-card {
  display: grid; column-gap: 10px;
  grid-template-rows: repeat(4, auto);
  grid-template-columns: 50px auto;
}
.app-user-card > * {
  margin: 0;
}
.app-user-card > img {
  grid-row: 1 / span 4;
  grid-column: 1 / span 1;

  width: 50px; height: 50px;
  object-fit: cover;
  object-position: center;

  border: 2px solid var(--colour-text);
  border-radius: 100%;
}
.app-user-card > img.online {
  border: 2px solid #37E878;
}
.app-user-card > h2 {
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
  text-align: start;
}
.app-user-card > h3 {
  grid-row: 3 / span 1;
  grid-column: 2 / span 1;

  text-align: start;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 300;
}
.app-user-card.chatroom:not(.request) {
  cursor: pointer;
}
.app-user-card.chatroom > img {
  border: 2px solid var(--colour-fallback);
}
.app-user-card.chatroom > h3 {
  text-transform: none;
}
