.app-button {
  width: 280px; max-width: 280px;
  height: auto; min-height: 30px;  
  margin: 10px auto; padding: 5px 10px;

  display: grid;
  grid-template-rows: auto min-content auto;

  background: var(--colour-primary);
  border-radius: 10px;
  box-shadow: none;

  cursor: pointer;
  transition: 200ms all ease-out;
}
.app-button:hover {
  box-shadow: 0 0 50px var(--colour-primary-shadow);
}
.app-button:active {
  background: var(--colour-foreground);
}
.app-button h2 {
  grid-row: 2 / span 1;
  margin: 0; padding: 0;

  color: black;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
}

.app-send-button {
  width: 40px; height: 40px;
  margin: 5px; padding: 0;

  display: grid;
  grid-template-rows: auto min-content auto;
  grid-template-columns: auto min-content auto;

  background: var(--colour-primary);
  border-radius: 20px;
  box-shadow: 0 0 50px var(--colour-primary-shadow);
  cursor: pointer;
  transition: 200ms all ease-out;
}
.app-send-button:active {
  background: var(--colour-foreground);
}
.app-send-button.disabled {
  background: var(--colour-background);
  box-shadow: none;
}
.app-send-button svg {
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
}