@keyframes sending-animation {
  from { opacity: 100%; }
  to { opacity: 20%; }
}

.app-button {
  width: 280px; max-width: 280px;
  height: auto; min-height: 30px;  
  margin: 10px auto; padding: 5px 10px;

  display: grid;
  grid-template-rows: auto min-content auto;

  background: var(--colour-primary);
  border-radius: 10px;
  box-shadow: var(--mono-shadow);

  cursor: pointer;
  transition: 200ms all ease-out;
}
.app-button:hover {
  box-shadow: var(--primary-shadow);
}
.app-button:active {
  background: var(--colour-foreground);
}
.app-button h2 {
  grid-row: 2 / span 1;
  margin: 0; padding: 0;

  color: black;
  font-size: 22px;
  font-weight: 500;
  font-family: 'Rubik', sans-serif;
  text-align: center;

  user-select: none;
}

.app-toggle-button {
  width: 38px; height: 38px;
  margin: 5px; padding: 0;

  display: grid;
  grid-template-rows: auto min-content auto;
  grid-template-columns: auto min-content auto;

  background: var(--colour-background);
  border: 1px solid var(--colour-foreground);
  border-radius: 10px;

  cursor: pointer;
  transition: 100ms all ease-out;
}
.app-toggle-button:hover {
  background: var(--colour-foreground);
}
.app-toggle-button svg {
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;

  fill: var(--colour-text);
}
.app-toggle-button.enabled {
  background: var(--colour-text);
}
.app-toggle-button.enabled svg {
  fill: var(--colour-background);
}

.app-send-button { cursor: not-allowed; }
.app-send-button.enabled { cursor: pointer; }
.app-send-button.sending {
  animation: sending-animation 800ms infinite ease-in-out alternate;
}