.home-logo {
  margin: 50px 0;
}

.home-content-container {
  margin-bottom: 50px;
}

.home-option-separator {
  width: auto; height: 1px;
  margin: 30px 20vw;
  background: var(--colour-text);
  opacity: 0.2;
}

.home-settings-link {
  width: min-content; height: min-content;
  margin: 5px auto; padding: 0;

  display: flex;
  align-items: center;

  line-height: 24px;
  font-size: 20px;

  cursor: pointer;
}
.home-settings-link:hover {
  text-decoration: underline;
}
.home-settings-link svg {
  margin-right: 5px;
}

.home-saved-room {
  cursor: pointer;
}
.home-saved-room:hover {
  text-decoration: underline;
}