:root {
  --colour-background: #000000;
  --colour-foreground: #222222;
  --colour-text: #FFFFFF;
  --colour-primary: #663AE2;
  --colour-primary-shadow: #663AE288;
}

* {
  scrollbar-width: 0;
}
*:focus, *:active {
  -webkit-tap-highlight-color: transparent;
  outline: none;
}
*::-webkit-scrollbar { display: none; }
::-webkit-scrollbar { display: none; }

body {
  background: var(--colour-background);
  font-family: 'Rubik', sans-serif;
  color: var(--colour-text);
  overflow-x: hidden;
}

.app-card {
  max-width: 300px; height: auto;
  background-color: var(--colour-foreground);
  border-radius: 20px;
}