:root {
  --colour-background: #f5f5f5;
  --colour-foreground: #FFFFFF;
  --colour-text: #000000;
  --colour-primary: linear-gradient(135deg, #24DBA3, #5BA7F3);
  --colour-frosted-glass: #FFFFFF80;

  --gradient-message: linear-gradient(to bottom, #24DBA3 0%, #5BA7F3 100%);

  --value-frosted-glass: 30px;

  --primary-shadow: 0 0 50px #5BA7F388;
  --mono-shadow: 0 0 6px #00000020;
}
@media (prefers-color-scheme: dark) {
  :root {
    --colour-background: #000000;
    --colour-foreground: #222222;
    --colour-text: #FFFFFF;
    --colour-frosted-glass: #00000080;

    --mono-shadow: none;
  }
}

* {
  scrollbar-width: 0;
  transition: 200ms ease-in-out all;
  overflow-x: hidden;
}
*:focus, *:active {
  -webkit-tap-highlight-color: transparent;
  outline: none;
}
*::-webkit-scrollbar { display: none; }
::-webkit-scrollbar { display: none; }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: var(--colour-background);
  color: var(--colour-text);
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1.app-title {
  font-size: 40px;
  font-weight: 700;
}
h1.app-subtitle {
  font-size: 20px;
  font-weight: 300;
  opacity: 0.8;
  text-align: center;
  margin: 10px;
}

.frosted-glass {
  background: var(--colour-foreground);
}
/* DESKTOP OVERRIDE - Only blur background on desktop */
@media only screen and (min-width: 600px) {
  .frosted-glass {
    -webkit-backdrop-filter: blur(var(--value-frosted-glass));
    backdrop-filter: blur(var(--value-frosted-glass));
    background: var(--colour-frosted-glass);
    border: 1px solid var(--colour-frosted-glass);
  }
}
/* SAFARI OVERRIDE - Blur background on all platforms */
@media not all and (min-resolution:.001dpcm) {
  @supports (-webkit-appearance:none) and (stroke-color:transparent) {
    .frosted-glass {
      -webkit-backdrop-filter: blur(var(--value-frosted-glass));
      backdrop-filter: blur(var(--value-frosted-glass));
      background: var(--colour-frosted-glass);
      border: 1px solid var(--colour-frosted-glass);
    }
  }
}
/* FIREFOX OVERRIDE - Blur background on none of the platforms */
@-moz-document url-prefix() {
  .frosted-glass {
    background: var(--colour-foreground);
  }
}
/* SAFARI OVERRIDE - Blur background on none of the platforms */
@media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0) {
  .frosted-glass {
    background: var(--colour-foreground);
  }
}