.app-input {
  width: 260px; max-width: 260px;
  height: 38px; max-height: 38px;
  margin: 5px auto; padding: 0 20px;
  display: block;

  background: var(--colour-foreground);
  border: none;
  border-radius: 10px;
  -webkit-appearance: none; /* For Safari */

  font-family: sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: var(--colour-text);

  transition: 200ms all ease-out;
}
.app-input:focus {
  box-shadow: var(--primary-shadow);
}
.app-input::placeholder {
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 300;
}

.app-chat-input {
  width: initial !important;
  max-width: none;
  margin: 5px 0 !important;
}

/* DARK MODE OVERRIDE */
@media(prefers-color-scheme: dark) {
  .app-input {
    border: 1px solid #3D3D3D;
  }
}