.account-img-container {
  width: 120px; height: 120px;
  margin: 0 auto 10px auto;
  overflow: hidden;

  background: var(--colour-bg);
  border: 1px solid var(--colour-fg);
  border-radius: 100%;
}
.account-img-container > img {
  width: inherit; height: inherit;
}
