@keyframes anim-in {
  from { transform: translateY(-100%); }
  to { transform: translateY(0); }
}

@keyframes anim-out {
  from { transform: translateY(0); }
  to { transform: translateY(-100%); }
}

.app-notification {
  width: 80vw; max-width: 350px;
  height: auto; padding: 50px 0 0 0;

  position: fixed; z-index: 2000;
  top: 0; left: 16px;
  animation: anim-out 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards;
}
.app-notification > .app-card {
  max-width: none; width: auto;
  min-height: 0; height: auto;
  margin: 0;
}

.app-notification.visible {
  animation: anim-in 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards;
}

.app-notification.anim:not(.visible) {
  animation: none;
}

.app-notification.error .app-card {
  border: 1px solid var(--colour-warn);
}
.app-notification.error h2 {
  color: var(--colour-warn);
}
