.chatroompage-messagebar {
  width: auto; height: auto;
  margin: 0; padding: 0 10px 34px 10px;

  position: fixed; z-index: 100;
  bottom: 0; left: 0; right: 0;

  display: grid;
  grid-template-rows: auto min-content auto;
  grid-template-columns: 40px auto 40px;

  border-top: 1px solid var(--colour-fg);
  backdrop-filter: blur(30px) saturate(120%);
  -webkit-backdrop-filter: blur(30px) saturate(120%);
}
.chatroompage-messagebar .app-input {
  max-width: none;
}
.chatroompage-messagebar > div {
  width: 100%; height: 40px;
  margin: 5px 0; padding: 7px;

  border: 1px solid var(--colour-fg);
  border-radius: 10px;

  cursor: pointer;
}
.chatroompage-messagebar > div:hover { border: 1px solid var(--colour-text); }
.chatroompage-messagebar > div.toggle.off { background: var(--colour-bg); }
.chatroompage-messagebar > div.toggle.off > svg { fill: var(--colour-text); }
.chatroompage-messagebar > div.toggle.off:active { background: var(--colour-fallback); }
.chatroompage-messagebar > div.toggle.off:active > svg { fill: white; }
.chatroompage-messagebar > div.toggle.on { background: var(--colour-fallback); }
.chatroompage-messagebar > div.toggle.on > svg { fill: white; }
.chatroompage-messagebar > div.toggle.on:active { background: var(--colour-bg); }
.chatroompage-messagebar > div.toggle.on:active > svg { fill: var(--colour-text); }
.chatroompage-messagebar > div.click:active { background: var(--colour-text); transition: none; }
.chatroompage-messagebar > div.click:active > svg { fill: white; transition: none; }

@keyframes message-in {
  from { transform: translateY(200%) }
  to { transform: translateY(0) }
}
.chatroompage-chatmessage {
  width: calc(100% - 32px); height: auto;
  margin: 0 auto 10px auto;

  display: grid;
  grid-template-rows: min-content min-content;
}
.chatroompage-chatmessage:last-child {
  animation: message-in 500ms forwards;
}
.chatroompage-chatmessage > h2 {
  margin: 0;
  text-align: start;
  text-transform: uppercase;
  font-family: 'Rubik', sans-serif;
  font-size: 10px;
  font-weight: 700;
}
.chatroompage-chatmessage > div {
  width: 100%; height: auto;
  min-height: 40px;

  display: grid;
  grid-template-rows: auto min-content auto;
  grid-template-columns: 5px auto;

  border: 1px solid var(--colour-fg);
  border-radius: 5px;
  overflow: hidden;
}
.chatroompage-chatmessage > div > div {
  grid-row: 1 / span 3;
  grid-column: 1 / span 1;
}
.chatroompage-chatmessage > div > p {
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;

  margin: 0 15px;
  text-align: start;
  font-size: 18px;
  font-weight: 400;
}
.chatroompage-chatmessage > div > img {
  width: auto; height: auto;
  max-height: 300px; max-width: 70vw;
  object-fit: contain;
  object-position: center;
  cursor: pointer;
}

.chatroompage-chatmessage.outgoing > div {
  background: var(--colour-fg);
}
.chatroompage-chatmessage.outgoing > div > div {
  background: var(--gradient-primary);
}

.chatroompage-chatmessage.incoming > div > div {
  background: var(--colour-text);
}

.chatroompage-chatmessage-openedimage {
  display: none; visibility: collapse;
}
.chatroompage-chatmessage-openedimage.opened {
  display: flex; visibility: visible;
  align-items: center; justify-content: center;

  position: fixed; z-index: 5000;
  top: 0; left: 0;
  bottom: 0; right: 0;

  background: #00000080;
  backdrop-filter: blur(30px) saturate(120%);
  -webkit-backdrop-filter: blur(30px) saturate(120%);
}
.chatroompage-chatmessage-openedimage.opened > img {
  width: auto; height: auto;
  max-width: 80vw; max-height: 80vh;
}
