.chatroompage-messagebar {
  width: auto; height: auto;
  margin: 0; padding: 0 10px 34px 10px;

  position: fixed; z-index: 100;
  bottom: 0; left: 0; right: 0;

  display: grid;
  grid-template-rows: auto min-content auto;
  grid-template-columns: 40px auto 40px;
}
.chatroompage-messagebar .app-input {
  max-width: none;
}
.chatroompage-messagebar > div {
  width: 100%; height: 40px;
  margin: 5px 0; padding: 7px;

  background-attachment: fixed;
  border-radius: 20px;

  cursor: pointer;
  transition: none;
}
.chatroompage-messagebar * {
  transition: none !important;
}
.chatroompage-messagebar > div.toggle.off { background: var(--colour-bg); }
.chatroompage-messagebar > div.toggle.off > svg { fill: var(--colour-text); }
.chatroompage-messagebar > div.toggle.off:active { background: var(--colour-fallback); }
.chatroompage-messagebar > div.toggle.off:active > svg { fill: white; }
.chatroompage-messagebar > div.toggle.on { background: var(--colour-fallback); }
.chatroompage-messagebar > div.toggle.on > svg { fill: white; }
.chatroompage-messagebar > div.toggle.on:active { background: var(--colour-bg); }
.chatroompage-messagebar > div.toggle.on:active > svg { fill: var(--colour-text); }
.chatroompage-messagebar > div.click { background: var(--colour-bg); }
.chatroompage-messagebar > div.click:hover { background: var(--colour-fg); }
.chatroompage-messagebar > div.click:active { background: var(--colour-fallback); }
.chatroompage-messagebar > div.click:active > svg { fill: white; }

@keyframes message-in {
  from { transform: translateY(200%) }
  to { transform: translateY(0) }
}
.chatroompage-chatmessage {
  width: calc(100% - 32px); height: auto;
  margin: 0 16px 5px 16px;

  display: grid;
  grid-template-rows: min-content min-content;
}
.chatroompage-chatmessage:last-child {
  animation: message-in 500ms forwards;
}
.chatroompage-chatmessage.outgoing {
  grid-template-columns: auto max-content;
}
.chatroompage-chatmessage.incoming {
  grid-template-columns: max-content auto;
}
.chatroompage-chatmessage.outgoing > h2 {
  display: none; visibility: collapse;
}
.chatroompage-chatmessage.incoming > h2 {
  grid-row: 1 / span 1; grid-column: 1 / span 2;
  margin: 0;
  text-align: start; text-transform: uppercase;
  font-family: 'Rubik', sans-serif;
  font-size: 12px;
  font-weight: 700;
}
.chatroompage-chatmessage > h2 > span {
  margin-left: 10px;
  font-weight: 300;
  text-transform: none;
}
.chatroompage-chatmessage:hover > h2 > span {
  font-weight: 500;
  transition: none;
}
.chatroompage-chatmessage > div {
  width: fit-content; max-width: 500px;
  height: auto; min-height: 40px;

  display: grid; float: right;
  grid-template-rows: auto min-content auto;

  border-radius: 20px;
  overflow: hidden;
}
.chatroompage-chatmessage.outgoing > div {
  grid-row: 2 / span 1; grid-column: 2 / span 1;
  background: var(--gradient-primary) fixed;
}
.chatroompage-chatmessage.incoming > div {
  grid-row: 2 / span 1; grid-column: 1 / span 1;
  background: var(--colour-text);
}
.chatroompage-chatmessage > div > p {
  grid-row: 2 / span 1;
  margin: 5px 15px;
  font-size: 18px;
  font-weight: 400;
  color: var(--colour-fg);
}
.chatroompage-chatmessage.outgoing > div > p {
  text-align: end;
}
.chatroompage-chatmessage.incoming > div > p {
  text-align: start;
}
.chatroompage-chatmessage > div > img {
  width: auto; height: auto;
  max-height: 300px; max-width: 70vw;
  object-fit: contain;
  object-position: center;
  cursor: pointer;
}

.chatroompage-chatmessage.incoming > div > div {
  background: var(--colour-text);
}

.chatroompage-chatmessage-openedimage {
  display: none; visibility: collapse;
}
.chatroompage-chatmessage-openedimage.opened {
  display: flex; visibility: visible;
  align-items: center; justify-content: center;

  position: fixed; z-index: 5000;
  top: 0; left: 0;
  bottom: 0; right: 0;

  background: #00000080;
}
.chatroompage-chatmessage-openedimage.opened > img {
  width: auto; height: auto;
  max-width: 80vw; max-height: 80vh;
}

.chatroompage-member-typing {
  width: auto; height: auto;
  padding: 5px 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  animation: message-in 500ms forwards;
}
.chatroompage-member-typing:first-child {
  border-top: 1px solid var(--colour-fg);
}
.chatroompage-member-typing > img {
  width: 20px; height: 20px;
  display: inline-block;
  object-fit: cover;
  object-position: center;
  border-radius: 100%;
}
.chatroompage-member-typing > p {
  margin: 0 0 0 10px;
  text-align: start;
  font-size: 16px;
}

@media(max-width: 800px) {
  .chatroompage-chatmessage > div {
    max-width: 80vw;
  }
}
