@keyframes new-message-animation {
  from {
    opacity: 0;
    margin: 0 40vw;
  }
  to {
    opacity: 1;
    margin: 0;
  }
}

.app-message-card {
  width: auto; height: max-content;
  min-height: 40px;
  margin: 5px 0; padding: 0 10px;

  display: flex; justify-content: flex-end;
}
.app-message-card:not(.incoming) > p {
  display: none; visibility: collapse;
}
.app-message-card > div {
  width: min-content; height: auto;
  max-width: 250px;
  margin: 0; padding: 5px 15px;

  background: var(--colour-primary);
  border-radius: 20px 20px 5px 20px;
}
.app-message-card > div.anim {
  animation: new-message-animation 200ms forwards ease-out;
}
.app-message-card > div > p {
  width: max-content; max-width: inherit;
  margin: 0; padding: 0;

  line-height: 30px;
  word-break: break-word;

  color: white;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.app-message-card.incoming {
  justify-content: flex-start;
}
.app-message-card.incoming > p {
  margin: 0 0 0 10px; padding: 0;
  opacity: 0.8; line-height: 40px;

  font-family: sans-serif;
  font-size: 14px;
  font-weight: 300;
}
.app-message-card.incoming > div {
  background: var(--colour-background);
  box-shadow: 18px 18px 30px #D1D9E6, -18px -18px 10px #FFFFFF94;
  border-radius: 20px 20px 20px 5px;
}
.app-message-card.incoming > div > p {
  color: var(--colour-text);
}

.app-message-card.image > div {
  max-height: 250px;
  padding: 0;
  background: var(--colour-background);
  box-shadow: 18px 18px 30px #D1D9E6;
}
.app-message-card.image > div > img {
  width: 250px; height: 250px;
  object-fit: cover;
  object-position: center;
  border-radius: 20px 20px 5px 20px;
  cursor: pointer;
}
.app-message-card.image.incoming > div > img {
  border-radius: 20px 20px 20px 5px !important;
}

/* DARK MODE OVERRIDE */
@media(prefers-color-scheme: dark) {
  .app-message-card.incoming > div {
    background: var(--colour-foreground);
    box-shadow: none;
  }
  
  .app-message-card.image > div {
    box-shadow: none;
  }
}