@keyframes new-message-animation {
  from {
    opacity: 0;
    margin: 0 40vw;
  }
  to {
    opacity: 1;
    margin: 0;
  }
}

.app-message-card {
  width: auto; height: max-content;
  min-height: 40px;
  margin: 5px 0; padding: 0 10px;

  display: flex; justify-content: flex-end;
}
.app-message-card:not(.incoming) > p {
  display: none; visibility: collapse;
}
.app-message-card > div {
  width: min-content; height: auto;
  max-width: 250px;
  margin: 0; padding: 5px 15px;

  background: var(--gradient-message) fixed;
  border-radius: 20px 20px 5px 20px;
  box-shadow: var(--mono-shadow);
}
.app-message-card > div.anim {
  animation: new-message-animation 200ms forwards ease-out;
}
.app-message-card > div > p {
  width: max-content; max-width: inherit;
  margin: 0; padding: 0;

  line-height: 30px;
  word-break: break-word;

  font-family: sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.app-message-card.incoming {
  justify-content: flex-start;
}
.app-message-card.incoming > p {
  margin: 0 0 0 10px; padding: 0;
  opacity: 0.8; line-height: 40px;

  font-family: sans-serif;
  font-size: 14px;
  font-weight: 300;
}
.app-message-card.incoming > div {
  background: var(--colour-foreground);
  border-radius: 20px 20px 20px 5px;
  box-shadow: none;
}

.app-message-card.image > div {
  max-height: 250px;
  padding: 0;
}
.app-message-card.image > div > img {
  width: 250px; height: 250px;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}