@keyframes new-message-animation {
  from {
    opacity: 0;
    margin: 0 40vw;
  }
  to {
    opacity: 1;
    margin: 0;
  }
}

.app-message-card { /* Message card container */
  width: auto; height: max-content;
  min-height: 40px;
  margin: 5px 0; padding: 0 10px;

  display: flex; justify-content: flex-end;
}
.app-message-card:not(.incoming) > p { /* Author name */
  display: none; visibility: collapse;
}
.app-message-card:not(.incoming) > img { /* Author photo */
  display: none; visibility: hidden;
}
.app-message-card > div { /* Message card */
  width: min-content; height: auto;
  max-width: 250px;
  margin: 0; padding: 5px 15px;

  background: var(--colour-primary);
  border-radius: 20px 20px 5px 20px;
}
.app-message-card > div.anim { /*  Message card with animation */
  animation: new-message-animation 200ms forwards ease-out;
}
.app-message-card > div > p { /* Message text */
  width: max-content; max-width: inherit;
  margin: 0; padding: 0;

  line-height: 30px;
  word-break: break-word;

  color: white;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.app-message-card.incoming { /* Incoming message card container */
  justify-content: flex-start;
}
.app-message-card.incoming > p { /* Incoming message author name */
  margin: 0 0 0 10px; padding: 0;
  opacity: 0.8; line-height: 40px;
  user-select: none;
}
.app-message-card.incoming > img { /* Incoming author photo */
  order: 0; align-self: flex-end;
  max-width: 40px; max-height: 40px;
  margin: 0 5px 0 0;
  overflow: hidden;

  object-fit: cover;
  object-position: center;
  border-radius: 100%;
}
.app-message-card.incoming > div { /* Incoming message card */
  background: var(--colour-foreground);
  border-radius: 20px 20px 20px 5px;
}
.app-message-card.incoming > div > p { /* Incoming message text */
  color: var(--colour-text);
}

.app-message-card.image > div { /* Image message card */
  max-height: 250px;
  padding: 0;
  background: var(--colour-foreground);
}
.app-message-card.image > div > img { /* Image message image content */
  width: 250px; height: 250px;
  object-fit: cover;
  object-position: center;
  border-radius: 20px 20px 5px 20px;
  cursor: pointer;
}
.app-message-card.image.incoming > div > img { /* Incoming image message image content */
  border-radius: 20px 20px 20px 5px !important;
}