.chatroom-header {
  width: 100vw; height: 44px;
  display: grid;
  grid-template-rows: auto min-content auto;

  position: fixed; z-index: 110;
  top: 0px; left: 0px;
  
  background: var(--colour-foreground);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: var(--mono-shadow);
}
.chatroom-header > div {
  grid-row: 2 / span 1;
}

.chatroom-message-composer {
  width: 100vw; height: 50;
  display: grid;
  grid-template-columns: auto min-content;

  position: fixed; z-index: 100;
  bottom: 0; left: 0;

  padding-bottom: 34px;

  background: var(--colour-foreground);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: var(--mono-shadow);
}

.chatroom-username-popup {
  position: absolute; z-index: 450;
  top: 0; left: 0; bottom: 0; right: 0;

  background: #000000c5;
}
.chatroom-username-popup > div {
  position: absolute; z-index: 500;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);

  padding: 10px;
  background: var(--colour-foreground);
  border-radius: 10px;
}