.user-settings-photo {
  width: 120px; height: 120px;
  margin: 10px auto; padding: 0;
  display: block;

  object-fit: contain;
  object-position: center;

  border: 1px solid var(--colour-background);
  border-radius: 100%;
}