.app-input {
  width: calc(100% - 20px); max-width: 300px;
  height: 40px; display: block;
  margin: 5px auto; padding: 0 10px;

  background: var(--colour-bg);
  border: none; border-radius: 20px;

  color: var(--colour-text);
  font-size: 18px;
  font-weight: 400;

  -webkit-appearance: none; /* For Safari */
}
.app-input::placeholder {
  color: var(--colour-text);
  font-weight: 300;
  user-select: none;
}
.app-input:focus {
  background: var(--colour-fg);
}
