:root {
  --colour-bg: #e8eef4;
  --colour-fg: #ffffff;
  --colour-text: #505050;
  --colour-warn: #f53f4b;
  --colour-fallback: #5b86e5;

  --gradient-primary: linear-gradient(135deg, #36d1dc 0%, #5b86e5 100%);

  --shadow-fg: none;
  --shadow-primary: none;
}
@media(prefers-color-scheme: dark) {
  :root {
    --colour-bg: #252525;
    --colour-fg: #000000;
    --colour-text: #ffffff;
  }
}

* {
  box-sizing: border-box;
  transition: 200ms ease-out all;
}
*:focus {
  outline: none;
}
::-webkit-scrollbar {
  width: 0; display: none; visibility: collapse;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow-x: hidden;

  background: var(--colour-bg);
  color: var(--colour-text);
  text-align: center;
  font-size: 18px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app-small-header {
  margin: 0;
  text-align: center;
  font-family: 'Barlow', sans-serif;
  font-size: 20px;
  font-weight: 600;
}

.acrylic-transparent {
  backdrop-filter: blur(30px) saturate(180%);
  -webkit-backdrop-filter: blur(30px) saturate(180%);
  background: rgba(255, 255, 255, 0.3);
}
@-moz-document url-prefix() {
  .acrylic-transparent {
    background: rgba(255, 255, 255, 0.7);
  }
}
@media(prefers-color-scheme: dark) {
  .acrylic-transparent {
    background: rgba(0, 0, 0, 0.3);
  }
  @-moz-document url-prefix() {
    .acrylic-transparent {
      background: rgba(0, 0, 0, 0.7);
    }
  }
}
