:root {
  --colour-bg: #ffffff;
  --colour-fg: #ebebeb;
  --colour-text: #505050;
  --colour-warn: #F53F4B;
  --colour-fallback: #F36A5B;

  --gradient-primary: linear-gradient(135deg, #F6914C, #EF426A);

  --shadow-fg: 0 5px 18px #D1D9E6;
  --shadow-primary: 0 5px 18px #F36A5B88;
}

* {
  box-sizing: border-box;
  transition: 200ms ease-out all;
}
*:focus {
  outline: none;
}
::-webkit-scrollbar {
  width: 0; display: none; visibility: collapse;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow-x: hidden;

  background: var(--colour-bg);
  color: var(--colour-text);
  text-align: center;
  font-size: 18px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app-small-header {
  margin: 0;
  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  font-weight: 500;
}

.acrylic-transparent {
  backdrop-filter: blur(30px) saturate(180%);
  -webkit-backdrop-filter: blur(30px) saturate(180%);
  background: rgba(255, 255, 255, 0.3);
}
@-moz-document url-prefix() {
  .acrylic-transparent {
    background: rgba(255, 255, 255, 0.7);
  }
}
