@keyframes slide {
	0% {transform:translateX(-100%);}
	100% {transform:translateX(100%);}
}

.app-button {
  width: calc(100% - 20px); max-width: 300px;
  height: auto; min-height: 50px;
  margin: 10px auto; padding: 0;
  overflow: hidden;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  border-radius: 10px;
  cursor: pointer;
}
.app-button:active {
  transition: 50ms ease-out;
}
.app-button:disabled {
  pointer-events: none;
  filter: brightness(80%);
  box-shadow: none !important;
}
.app-button:disabled:after {
  content:'';

  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
  
	width:100%; height:50px;
	z-index:1;
  transform:translateX(100%);
	animation: slide 1s infinite;
	 
  background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 50%, rgba(128,186,232,0) 99%, rgba(125,185,232,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(50%,rgba(255,255,255,0.8)), color-stop(99%,rgba(128,186,232,0)), color-stop(100%,rgba(125,185,232,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* IE10+ */
	background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#007db9e8',GradientType=1 ); /* IE6-9 */
}
.app-button > div {
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;

  width: 100%; height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  user-select: none;
}

.app-button.primary {
  background: var(--gradient-primary);
  border: none;
}
.app-button.primary > div {
  color: #ffffff;
}
.app-button.primary:hover {
  box-shadow: var(--shadow-primary);
  transform: translateY(-2px);
}
.app-button.primary:active {
  box-shadow: none;
  transform: none;
}

.app-button.secondary {
  background: #ffffff80;
  border: 1px solid var(--colour-fg);
}
.app-button.secondary > div {
  color: var(--colour-text);
}
.app-button.secondary:hover {
  background: var(--colour-fg);
}
.app-button.secondary:active {
  background: #ffffff80;
}

.app-button.warning {
  background: #ffffff80;
  border: 1px solid var(--colour-warn);
}
.app-button.warning:hover {
  background: var(--colour-warn);
}
.app-button.warning:active {
  filter: brightness(50%);
}
.app-button.warning > div {
  color: var(--colour-warn);
}
.app-button.warning:hover > div {
  color: #ffffff;
}

.app-bottom-attached-button {
  width: auto; height: 80px;
  margin: 0; padding: 0;

  position: fixed;
  bottom: 0; left: 0; right: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  border-top: 1px solid var(--colour-fg);
}
