@keyframes slide {
	0% {transform:translateX(-100%);}
	100% {transform:translateX(100%);}
}

.app-button {
  width: calc(100% - 20px); max-width: 300px;
  height: auto; min-height: 50px;
  margin: 10px auto; padding: 0;
  overflow: hidden;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  background-attachment: fixed;
  border: none; border-radius: var(--value-border-radius);
  cursor: pointer;
}
.app-button:active {
  transition: 50ms ease-out;
}
.app-button:disabled {
  pointer-events: none;
  filter: brightness(80%);
  box-shadow: none !important;
}
.app-button > div {
  height: 100%;
  display: grid;
  grid-template-columns: auto;
}
.app-button:disabled > div {
  grid-template-columns: min-content auto;
}
.app-button > div > div:nth-child(1) {
  grid-column: 1 / span 1;
  margin: 5px !important;
}
.app-button > div > div:nth-child(2) {
  grid-column: 2 / span 1;
  display: grid;
  grid-template-rows: auto min-content auto;
}
.app-button .text {
  grid-row: 2 / span 1;

  width: 100%; height: 100%;
  margin: 0; display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  font-family: 'Barlow', sans-serif;
  font-size: 20px;
  font-weight: 600;

  user-select: none;
}
.app-button:hover {
  transform: translateY(-2px);
}
.app-button:active {
  transform: none;
  background-color: var(--colour-text);
}
.app-button:active .text {
  color: var(--colour-fg);
}

.app-button.primary {
  background: var(--colour-fallback);
  border: none;
}
.app-button.primary .text {
  color: #ffffff;
}

.app-button.secondary {
  background: var(--colour-fg);
}
.app-button.secondary .text {
  color: var(--colour-text);
}

.app-button.warning {
  background: var(--colour-warn);
}
.app-button.warning .text {
  color: white;
}

.app-button:not(.secondary) > div > div:nth-child(1) svg {
  filter: invert(1);
}

.app-bottom-attached-button {
  width: auto; height: 80px;
  margin: 0; padding: 0;

  position: fixed;
  bottom: 0; left: 0; right: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* SAFARI ONLY */
@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) {
  .app-bottom-attached-button {
    padding-bottom: 34px;
  }
}}
