.chatroomsettingspage-container p.description {
  padding: 0 10px; margin: 0;

  text-align: start;
  font-size: 12px;
  font-weight: 400;
}
.chatroomsettingspage-container p.description > span {
  text-transform: uppercase;
  font-weight: 600;
}
